.scroller{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(400px, 28vw);
  gap: 45px;
  overflow-x: auto;
  padding: 20px 4px 8px;
  scroll-snap-type: x mandatory;
}
.card{
  scroll-snap-align: start;
  background: #222222;
  border: 1px solid #222;
  border-radius: 24px;
  height: 450px;
  display: flex;
  align-items: end;
  padding: 18px;
  font-weight: 400;
  font-size: 1.5rem;
  color:#e5e5e5;
}
.card:hover{
  background: #2a2a2a;
  border: 1px solid #323232;
  border-radius: 24px;
  color:#e5e5e5;
}
.pad{ padding: 64px 0; }

@media (max-width: 768px) {
  .scroller{
    grid-auto-columns: minmax(320px, 28vw);
    gap: 22px;
  }
  .card{
    height: 375px;
  }
}
